<div id="index-heading">
  <br>
  <h1 class="center">Social Funding for sick children.</h1>
  <div class="row">
    <% @featured.each do |f| %>
      <div class="four columns">
        <div class="panel">
          <%= image_tag('/assets/uploads/' + f.photo, style: 'width: 300') %><br>
          <h5 class="center"><%= link_to f.name, f %></h5>
          <p><%= f.bio[0..250] %>...</p>
          <%= link_to "Learn more about #{f.name}", f %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <h1>What is Fund3Lives?</h1>
  <p>Fund3lives aims to help 3 different beneficiaries that needs funding through the use of internet. All the donations will be given directly on your chosen beneficiary.
</p>
</div>

