<footer class="row collapse"><hr>
  <div class="four columns">
    &copy; 2012 Team Ken Onin!
  </div>

  <div class="four columns">
    Another attempt at being cool by
    <a href="http://www.badsectorlabs.com">BadSector Labs!</a>
  </div>

  <div class="four columns">

  </div>
</footer>
